---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout>
    <h1>The Blog page</h1>
    <p>My journey learning Astro...</p>
    <ul>
        <li><a href="/posts/post-1/">Post 1</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>
    </ul>
    <p>Learning Clojure, OCaml, the Web, Design... by writing about them</p>
    <ul>
        <li>
            <a href="/posts/clojurescript-macros/">Macros in Clojure </a>
        </li>
    </ul>
</BaseLayout>
